# Ambientes e credenciais
.env.local
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints

# Temporários do Office
~$*

# Logs e IDE
.idea/
.vscode/

# Scratch e temporários
scratch/

